:root{
    --main-background-color:#0E2423;
    --random-width:35px;
    --line-color:red;
    --circle-width:10px;
    --circle-height:10px
}

#background{
    background-color: var(--main-background-color);
    width: 100%;
    height:100%;
    position: fixed;
    inset:0;
    z-index:0;
}
#main-body{
    
    position: relative;
}

.line{
    width: var(--random-width);
    height: 3px;
    background-color: var(--line-color);
    position: absolute;
    
}

.line::after,.line::before{
    content:'';
    position:absolute;
    height: var(--circle-height);
    width: var(--circle-width);
    top:50%;
    transform: translateY(-50%);
    background-color: var(--line-color);
    border-radius: 50%;
}

.line::after{left: 0;
transform: translate(-50%,-50%);
}
.line::before{right: 0;
transform: translate(50%,-50%);
}

.line.rotate-left{
    animation: line-rotator-left ease 5s infinite alternate;
}

.line.rotate-right{
    animation: line-rotator-right ease 5s infinite alternate;
}

@keyframes line-rotator-right {
    0%{
        transform: rotate(0deg) scaleX(1);
        
    }50%{
        transform: rotate(-180deg) scaleX(0.7);
    }100%{
       transform: rotate(-360deg) scaleX(1.2);
    }
} 


@keyframes line-rotator-left {
    0%{
        transform: rotate(0deg) scaleX(1);
    }50%{
        transform: rotate(180deg) scaleX(1.3);
    }100%{
        transform: rotate(360deg) scaleX(0.8);
    }
} 